@import "tailwindcss";

.input_form {
  @apply border border-blue-300 rounded-xl bg-blue-100 px-2 py-2 text-blue-800 shadow-lg focus:outline-none focus:ring-2 focus:ring-blue-700
}

.btn_form {
  @apply bg-gradient-to-r from-blue-700 via-blue-500 to-blue-400 text-white font-bold py-2 px-8 mt-6 rounded shadow-lg cursor-pointer hover:scale-105 focus:outline-none focus:ring-2 focus:ring-blue-700
}

.saisie_bg {
  @apply min-h-screen bg-gradient-to-br from-white via-blue-100 to-blue-300 py-1
}

.saisie_card {
  @apply max-w-3xl mx-auto w-full border border-blue-200 py-10 px-5 mb-8 rounded-2xl bg-white shadow-xl 
}

.saisie_form {
  @apply grid grid-cols-1 md:grid-cols-2 gap-4 w-full px-8
}

/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
